.header-contact {
  background-color: rgb(3, 126, 95);
  margin: 0 !important;
  padding: 100px 50px;
  text-align: center;
}

.header-contact h1 {
  font-size: 50px !important;
  margin-bottom: 30px;
}

.con-con {
  padding: 100px 50px !important;
}

.map-box {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  display: block;
}

@media (max-width: 1000px) {
  .contact-info {
    margin-top: 50px;
  }
}

body.light .header-contact h1 {
  color: aliceblue;
}

body.light .header-contact p {
  color: aliceblue;
}
