body.dark {
  margin: 0;
  overflow-x: hidden;
  color: #d1d5db;
  background: linear-gradient(250deg, #0e1b27, rgb(19, 19, 44));
  border-color: #374151;
  background-size: 400% 400%;
}

body.light {
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale body;
  background-color: rgb(169, 188, 204);
}

body.light .navbar a {
  color: white !important;
}

body.dark .navbar {
  padding: 0 !important;
}

body.light .navbar {
  padding: 0 !important;
}

body.light section {
  background-color: rgb(169, 188, 204);
  margin: 0;
}

body.light .breadcrumb-div li {
  color: azure !important;
}

body.light .dropdown .dropdown-item {
  color: #0e1b27 !important;
}

html,
body {
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden-up,
.hidden-left,
.hidden-right {
  opacity: 0;
  transition: all 1.5s ease;
}

.hidden-up {
  transform: translateY(70px);
}

.hidden-left {
  transform: translateX(-80px);
}

.hidden-right {
  transform: translateX(80px);
}

.show {
  opacity: 1;
  transform: translate(0, 0);
}
